<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
  </div>
  <div>
    <label for="ssn">SSN</label>
    <input
      type="text"
      id="ssn"
      (focus)="toggleShowSsn()"
      (blur)="ssnBlur()"
      formControlName="ssn"
      [patterns]="ssnPattern"
      [hiddenInput]="hideSsn"
      mask="YYY-YY-SSSS"
    />
    <div>
      <label for="hideSsn">
        <input type="checkbox" [checked]="hideSsn" (click)="toggleShowSsn()" />
        Show or Hide SSN
      </label>
    </div>
  </div>
  <div>
    <label for="cc">Credit Card Number</label>
    <input type="text" id="cc" formControlName="cc" />
  </div>
  <div>
    <label for="birthdate">Birth Date</label>
    <input type="date" id="birthdate" formControlName="birthdate" />
  </div>
  <button type="submit">Submit</button>
</form>

<pre>
  {{ form.value | json }}
</pre>
